:root {
    --col1: darkred;
    --col2:#333;
    --col3:#F1F1F1;
    --col4:rgb(192, 189, 189);
}

.dark {
    --col1: darkred;
    --col2:#F1F1F1;
    --col3:#333;
    --col4:rgb(192, 189, 189);
}

.light {
    --col1: darkred;
    --col2:#333;
    --col3:#F1F1F1;
    --col4:rgb(192, 189, 189);
}

body {
    text-align: center;
    background-color: var(--col3);
    transition: linear 0.2s;
}

h1 {
    color: var(--col1);
}

.container {
    position: relative;
    margin: 0 auto;
    top: 100px;
    width: 270px;
    height: 300px;
    box-shadow: 3px 3px 5px var(--col2);
    overflow: hidden;
    border-radius: 20px;
    background-color: transparent;
    user-select: none;
}

.divLR {
    display: flex;
    width: 800px;
    transition: linear 0.2s;
}

.divLogIn, .divRegister {
    position: relative;
    width: 270px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: fantasy;
    color: var(--col2);
    font-size: 14px;
}

.divLogIn {
    background-color: var(--col3);
}

.divRegister {
    background-color: var(--col3);
}

.divBtn {
    top: 5px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}
.btnGlobal {
    position: relative;
    width: 160px;
    height: 30px;
    border: solid 2px var(--col2);
    box-shadow: 2px 2px 5px;
    border-radius: 15px;
}
.btnLogIn, .btnRegister {
    border: none;
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    z-index: 5;
    font-family: fantasy;
    font-size: 20px;
    transition: linear 0.2s;
}
.btnLogIn {
    color: var(--col3);
    left: 0;
}
.btnRegister {
    color: var(--col2);
    right: 0;
}
.ovale {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--col2);
    /* opacity: 0.7; */
    border-radius: 10px;
    transition: linear 0.2s;
}

.monInput {
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: var(--col2);
    font-family: fantasy;
    font-size: 18px;
}
::placeholder {
    color: var(--col4);
    font-family: fantasy;
}

.divCheck {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* CSS checkbox Login */

input[type="radio"].demo1 {
  display: none;
}
input[type="radio"].demo1 + label {
  padding: 0.5rem 0.4rem;
  font-size: 0.9rem;
  line-height: 1px;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #6c757d;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  margin-right: 5px;
  margin-left: 5px;
}
input[type="radio"].demo1.demoyes:hover + label {
  /* background-color: #218838;
  border-color: #1e7e34; */
  cursor: pointer;
}
input[type="radio"].demo1.demoyes:checked + label {
  background-color: darkgreen;
  border-color: darkgreen;
}
input[type="radio"].demo1.demono:hover + label {
  /* background-color: #c82333;
  border-color: #bd2130; */
  cursor: pointer;
}
input[type="radio"].demo1.demono:checked + label {
  background-color: darkred;
  border-color: darkred;
}



/* CSS Checkbox Register */

input[type="radio"].demo2 {
  display: none;
}
input[type="radio"].demo2 + label {
  padding: 0.5rem 0.4rem;
  font-size: 0.9rem;
  line-height: 1px;
  border-radius: 0.2rem;
  color: var(--col3);
  background-color: #6c757d;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  margin-right: 5px;
  margin-left: 5px;
}
input[type="radio"].demo2.demoyes:hover + label {
  /* background-color: #218838;
  border-color: #1e7e34; */
  cursor: pointer;
}
input[type="radio"].demo2.demoyes:checked + label {
  background-color: darkgreen;
  border-color: darkgreen;
}
input[type="radio"].demo2.demono:hover + label {
  /* background-color: #c82333;
  border-color: #bd2130; */
  cursor: pointer;
}
input[type="radio"].demo2.demono:checked + label {
  background-color: darkred;
  border-color: darkred;
}


/* Boutton J/N*/

.btnJN {
    margin: 0 auto;
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    background-color: grey;
    cursor: pointer;
    box-shadow: 1px 1px 5px;
}
.cercle {
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: var(--col2);
    border-radius: 20px;
    top: 1px;
    left: 2px;
    transition: linear 0.2s;
}