
input[type="radio"].demo1 {
  display: none;
}
input[type="radio"].demo1 + label {
  padding: 0.5rem 0.4rem;
  font-size: 0.9rem;
  line-height: 1px;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #6c757d;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  margin-right: 5px;
  margin-left: 5px;
}
input[type="radio"].demo1.demoyes:hover + label {
  /* background-color: #218838;
  border-color: #1e7e34; */
  cursor: pointer;
}
input[type="radio"].demo1.demoyes:checked + label {
  background-color: var(--col2);
  border-color: #28a745;
}
input[type="radio"].demo1.demono:hover + label {
  /* background-color: #c82333;
  border-color: #bd2130; */
  cursor: pointer;
}
input[type="radio"].demo1.demono:checked + label {
  background-color: var(--col2);
  border-color: #dc3545;
}